[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kundan4776 (kundan4776)
[access "refs/for/refs/*"]
	read = group user/kundan4776 (kundan4776)
	push = group user/kundan4776 (kundan4776)
	label-Code-Review = -2..+2 group user/kundan4776 (kundan4776)
	label-Verified = -1..+1 group user/kundan4776 (kundan4776)
	rebase = group user/kundan4776 (kundan4776)
	removeReviewer = group user/kundan4776 (kundan4776)
	submit = group user/kundan4776 (kundan4776)
[access "refs/heads/*"]
	read = group user/kundan4776 (kundan4776)
	create = group user/kundan4776 (kundan4776)
	push = +force group user/kundan4776 (kundan4776)
	pushMerge = group user/kundan4776 (kundan4776)
[access "refs/tags/*"]
	push = +force group user/kundan4776 (kundan4776)
	pushTag = group user/kundan4776 (kundan4776)
	pushSignedTag = group user/kundan4776 (kundan4776)
