[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Fujin Group
	owner = group user/Bonzai (bonzaidev)
	owner = group user/kundan4776 (kundan4776)
[access "refs/heads/*"]
	read = group Fujin Group
	read = group user/Bonzai (bonzaidev)
	read = group user/kundan4776 (kundan4776)
	create = group Fujin Group
	create = group user/Bonzai (bonzaidev)
	create = group user/kundan4776 (kundan4776)
	push = group Fujin Group
	push = group user/Bonzai (bonzaidev)
	push = group user/kundan4776 (kundan4776)
	pushMerge = group Fujin Group
	pushMerge = group user/Bonzai (bonzaidev)
	pushMerge = group user/kundan4776 (kundan4776)
	label-Code-Review = -2..+2 group Fujin Group
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Bonzai (bonzaidev)
	label-Code-Review = -2..+2 group user/kundan4776 (kundan4776)
	label-Verified = -1..+1 group Fujin Group
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Bonzai (bonzaidev)
	label-Verified = -1..+1 group user/kundan4776 (kundan4776)
	labelAs-Code-Review = -2..+2 group user/Bonzai (bonzaidev)
	labelAs-Code-Review = -2..+2 group user/kundan4776 (kundan4776)
	labelAs-Verified = -1..+1 group user/Bonzai (bonzaidev)
	labelAs-Verified = -1..+1 group user/kundan4776 (kundan4776)
[access "refs/tags/*"]
	push = group Fujin Group
	push = group user/Bonzai (bonzaidev)
	push = +force group user/kundan4776 (kundan4776)
	createTag = group Fujin Group
	createTag = group user/Bonzai (bonzaidev)
	createTag = group user/kundan4776 (kundan4776)
	createSignedTag = group Fujin Group
	createSignedTag = group user/Bonzai (bonzaidev)
	createSignedTag = group user/kundan4776 (kundan4776)
	forgeCommitter = group Fujin Group
	forgeCommitter = group user/Bonzai (bonzaidev)
	forgeCommitter = group user/kundan4776 (kundan4776)
[submit]
	mergeContent = false
	action = fast forward only
[receive]
	requireChangeId = true
[access "refs/for/refs/*"]
	read = group Fujin Group
	read = group user/Bonzai (bonzaidev)
	read = group user/kundan4776 (kundan4776)
	push = group Fujin Group
	push = group user/Bonzai (bonzaidev)
	push = group user/kundan4776 (kundan4776)
	label-Code-Review = -2..+2 group Fujin Group
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Bonzai (bonzaidev)
	label-Code-Review = -2..+2 group user/kundan4776 (kundan4776)
	label-Verified = -1..+1 group Fujin Group
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Bonzai (bonzaidev)
	label-Verified = -1..+1 group user/kundan4776 (kundan4776)
	labelAs-Code-Review = -2..+2 group user/Bonzai (bonzaidev)
	labelAs-Code-Review = -2..+2 group user/kundan4776 (kundan4776)
	labelAs-Verified = -1..+1 group user/Bonzai (bonzaidev)
	labelAs-Verified = -1..+1 group user/kundan4776 (kundan4776)
	rebase = group Fujin Group
	rebase = group user/Bonzai (bonzaidev)
	rebase = group user/kundan4776 (kundan4776)
	removeReviewer = group Fujin Group
	removeReviewer = group user/Bonzai (bonzaidev)
	removeReviewer = group user/kundan4776 (kundan4776)
	submit = group Fujin Group
	submit = group user/Bonzai (bonzaidev)
	submit = group user/kundan4776 (kundan4776)
